<div id="editor">
  <h3>GAP</h3>

  <p>
    <a href="https://www.gap-system.org/">GAP</a> — система дискретної обчислювальної алгебри 
    з особливим акцентом на теорію груп. GAP надає мову програмування, бібліотеку тисяч функцій, 
    що реалізують алгебраїчні алгоритми, написані мовою GAP, а також великі бібліотеки даних
    алгебраїчних об’єктів. На цьому семінарі ми будемо викладати урок
    <a href="https://ukrainian-carpentries.github.io/gap-lesson">Програмування у системі компʼютерної алгебри GAP</a>.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#gap-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#gap-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#gap-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="gap-windows">
        <p>
          Щоб встановити GAP, дивіться <a href="https://ukrainian-carpentries.github.io/gap-lesson/#windows">інструкції на сторінці урока з GAP</a>.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="gap-macos">
        <p>
          Щоб встановити GAP, дивіться <a href="https://ukrainian-carpentries.github.io/gap-lesson/#macos">інструкції на сторінці урока з GAP</a>.
        </p>
      </article>
      <article role="tabpanel" class="tab-pane" id="gap-linux">
        <p>
          Щоб встановити GAP, дивіться <a href="https://ukrainian-carpentries.github.io/gap-lesson/#linux">інструкції на сторінці урока з GAP</a>.
        </p>
      </article>
    </div>
  </div>
</div>
